# Create or Replace & CTAS

## 1. Difference between Create or Replace and Drop and Create Table statements

### Behavior of DROP and CREATE statements

In [0]:
%sql
DROP TABLE IF EXISTS demo.delta_lake.companies;

CREATE TABLE demo.delta_lake.companies
(
  company_id BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY (START WITH 1 INCREMENT BY 1),
  company_name STRING,
  founded_date DATE,
  country STRING
);

INSERT INTO demo.delta_lake.companies
(company_name, founded_date, country)
VALUES
('Microsoft', '1975-04-04', 'USA'),
('Google', '1998-09-04', 'USA'),
('Amazon', '1994-05-05', 'USA');

In [0]:
%sql
DESC HISTORY demo.delta_lake.companies;

### Behavior of the CREATE OR REPLACE statement

In [0]:
%sql
DROP TABLE IF EXISTS demo.delta_lake.companies;

In [0]:
%sql
CREATE OR REPLACE TABLE demo.delta_lake.companies
(
  company_id BIGINT NOT NULL GENERATED ALWAYS AS IDENTITY (START WITH 1 INCREMENT BY 1),
  company_name STRING,
  founded_date DATE,
  country STRING
);

INSERT INTO demo.delta_lake.companies
(company_name, founded_date, country)
VALUES
('Microsoft', '1975-04-04', 'USA'),
('Google', '1998-09-04', 'USA'),
('Amazon', '1994-05-05', 'USA');

In [0]:
%sql
DESC HISTORY demo.delta_lake.companies;

## 2. CTAS statement

In [0]:
%sql 
DROP TABLE IF EXISTS demo.delta_lake.companies_china;

In [0]:
%sql
CREATE TABLE demo.delta_lake.companies_china
AS (
  SELECT 
    CAST(company_id AS INT) AS company_id,
    company_name,
    founded_date,
    country
  FROM demo.delta_lake.companies
  WHERE country = 'China'
);

SELECT * FROM demo.delta_lake.companies_china;

In [0]:
%sql
DESCRIBE EXTENDED demo.delta_lake.companies_china

In [0]:
%sql
ALTER TABLE demo.delta_lake.companies_china
  ALTER COLUMN founded_date COMMENT 'Date the company was founded';

In [0]:
%sql 
DESCRIBE EXTENDED demo.delta_lake.companies_china

In [0]:
%sql
ALTER TABLE demo.delta_lake.companies_china
  ALTER COLUMN company_id SET NOT NULL;

In [0]:
%sql 
DESCRIBE EXTENDED demo.delta_lake.companies_china